[Unit]
Description=ROXIDE Desktop Shell daemon (RDS)
Documentation=https://github.com/me-osano/RoxideDesktopShell
After=graphical-session.target
PartOf=graphical-session.target
Wants=network.target
Requisite=graphical-session.target

[Service]
Type=simple
ExecStart=usr/bin/roxide run --daemon
ExecReload=/usr/bin/pkill -USR1 -x roxide
Restart=on-failure
RestartSec=3s

StandardOutput=journal
StandardError=journal
SyslogIdentifier=roxide

Environment=ROXIDE_LOG=info

[Install]
WantedBy=graphical-session.target
